{% extends "layout.html" %}

{% block title %}{{ block.super }} - More Minerals than you thought existed {% endblock %}

{% block content %}
<div class="random text-centered animated bounce">
<a href="{% url "detail" pk=random_mineral.pk %}">Discover a Random Mineral</a>
</div>
<div class="grid-100">
  <ul class="minerals__container">
  {% for mineral in minerals %}
    <li class="minerals__item">
      <a href="{% url "detail" pk=mineral.pk %}">{{ mineral.name }}</a>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}